<!DOCTYPE html>
<html lang='en-US'>
<head>
  <meta charset='utf-8' />
  <meta name='description' content='Stream awesome NPR member stations.' />
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1' />
  <title>Discover Public Radio</title>
  <%= css :app %>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css' />
</head>
<body>
</body>
</html>
