<!DOCTYPE html>
<html lang='en-US' data-ng-app='wheresMyNpr'>
<head>
  <meta charset='utf-8' />
  <title>Wheres My NPR?</title>
  <%= css :app %>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css' />
  <link href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' rel='stylesheet' type='text/css' />
  <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
  <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js'></script>
</head>
<body data-ng-controller='StationFinderCtrl'>
  <header>
    <h1 class='page-header'>Where's My NPR?</h1>
    <p class='spiel'>Find an NPR member station near you.</p>
  </header>

  <form name='searchForm'>
    <span class='search-by-zip-field addon-field'>
      <input name='zipcode' type='number' placeholder='Enter your zip code' data-ng-model='zipcode' min='0' required />
      <button type='submit' data-ng-disabled='searchForm.$invalid' data-ng-click='findByZip()'><i class='fa-search fa'></i><span class='hidden-text'>Search</span></button>
    </span>

    &mdash; or &mdash;

    <button class='search-by-geolocation' type='button' data-ng-click='findByLocation()'>Use my geolocation</button>
  </form>

  <section class='best-station' data-ng-if='bestStation || loading'>
    <span class='best-station-loading' data-ng-show='loading'><i class='best-station-loading-icon fa-sun-o fa'></i></span>

    <p class='best-station-summary' data-ng-if='bestStation && !loading'>
      Tune in to
      <span class='best-station-label'>{{bestStation.label}}</span>
    </p>

    <div class='best-station-controls'  data-ng-if='bestStation && !loading'> <% #decide on a semantic element later %>
      <a data-ng-if='bestStation.home_page' data-ng-href='{{bestStation.home_page}}' class='best-station-visit'><i class='fa-globe fa'></i> Visit</a>
      <a data-ng-if='bestStation.pledge_page' data-ng-href='{{bestStation.pledge_page}}' class='best-station-pledge'><i class='fa-heart fa'></i> Pledge</a>
      <button data-ng-if='bestStation.stream_url' class='best-station-listen' type='button' data-stream-url='{{bestStation.stream_url}}' data-radio-streamer></button>
    </div>
  </section>

  <%= js :app %>
</body>
</html>
