$wedgewood: #5377A6;
$steel-blue: #5E87BD;
$pickled-bluewood: #243344;
$matrix: #A65353;
$contessa: #BE6060;

@include keyframes(loading-throb) {
  0%   { @include transform(scale(1)); }
  50%   { @include transform(scale(1.5)); }
  100% { @include transform(scale(1)); }
}

@include keyframes(rotate) {
  0%  { @include transform(rotate(0deg)); }
  100% { @include transform(rotate(360deg)); }
}

* {
  @include box-sizing(border-box);
}

body {
  background: #2D4059;
  color: #F4F9FD;
  text-shadow: 0 1px rgba(0,0,0,0.5);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 85%;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  display: table;
  padding: 1em;
  margin: 5em auto 0;

  @include respond-to(small-screen) {
    margin-top: 2em;
    display: block;
  }
}

#{$all-text-inputs} {
  border-radius: 3px;
  border: none;
  background: #F4F9FD;
  text-shadow: none;
  padding: 1.5em;

  // remove increment/decrement buttons
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &:invalid {
    box-shadow: none;
  }
}

button {
  @extend .btn;
  margin: 0;

  &::-moz-focus-inner {
    border: 0;
    margin: 0;
  }
}

.hidden-content {
  position: absolute;
  left: -9999em;
}

.btn {
  // @include transition(all 0.25s linear);
  border-radius: 3px;
  border: none;
  background-color: $wedgewood;
  color: #FFF;
  text-shadow: 0 1px rgba(0,0,0,0.25);
  font: inherit;
  text-decoration: none;
  cursor: pointer;
  padding: 1.5em;
  display: inline-block;

  &:hover, &:focus {
    background-color: $steel-blue;
  }
}

.btn-red {
  background-color: $matrix;

  &:hover, &:focus {
    background-color: $contessa;
  }
}

.addon-field {
  border-collapse: separate;
  display: table;

  .addon-field-input {
    width: 100%;
    display: table-cell;

    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      width: 100%;
    }
  }

  .addon-field-append {
    display: table-cell;

    button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 1.5em;
    }
  }
}

.placeheld-field {
  cursor: text;
  position: relative;

  .placeheld-field-placeholder {
    color: #999;
    text-shadow: none;
    line-height: 1;
    position: absolute;
    left: 1em;
    top: 50%;
    margin-top: -0.5em;
  }

  .placeheld-field-input[data-placeheld='false'] ~ .placeheld-field-placeholder,
  .placeheld-field-input[data-placeheld='true']:focus ~ .placeheld-field-placeholder {
    visibility: hidden;
  }
}
