@import "bourbon/bourbon";
@import "utility";
@import "base";

.app-hero {
  margin-bottom: 2em;

  .app-hero-header {
    font-size: 400%;
    font-weight: normal;
    margin-bottom: 0;

    @include respond-to(small-screen) {
      font-size: 200%;
      margin-top: 0;
    }
  }

  .app-hero-spiel {
    font-size: 125%;
    margin-top: 0;

    @include respond-to(small-screen) {
      font-size: 100%;
    }
  }
}

.search-by-zip-field {
  width: 18em;
  display: inline-table;
  vertical-align: middle;

  input::-webkit-outer-spin-button {
    margin: 0;
  }

  @include respond-to(small-screen) {
    width: 100%;
    display: table;
    margin-bottom: 1em;
  }
}

.search-by-geolocation {
  width: 18em;
  vertical-align: middle;

  @include respond-to(small-screen) {
    width: 100%;
  }
}

// make this more specific
.or-separator {
  @include respond-to(small-screen) {
    display: none;
  }
}

.best-station {
  border-radius: 3px;
  background: $pickled-bluewood;
  font-size: 125%;
  line-height: 1;
  padding: 1.5em;
  margin-top: 0.8em;

  .best-station-loading {
    margin: 2em 0;
    display: inline-block;
    position: relative;

    &:before {
      content: '';
      @include animation(loading-throb 1.25s ease-in infinite);
      border-radius: 100%;
      background: rgba(83, 119, 166, 0.25);
      text-shadow: none;
      padding: 1em;
      position: absolute;
      left: -0.15em;
      right: -0.15em;
      top: -0.15em;
      bottom: -0.15em;
    }
  }

  .best-station-loading-icon {
    @include animation(rotate 2s linear infinite);
    border-radius: 100%;
    background: rgba(83, 119, 166, 0.5);
    color: #FFF;
    text-shadow: none;
    padding: 0.75em;
  }

  .best-station-summary {
    margin-top: 0;
  }

  .best-station-label {
    font-size: 150%;
    font-weight: bold;
    margin-top: 0.375em;
    margin-bottom: 0.375em;
    display: block;
  }

  .best-station-controls {
    @extend %list-reset;

    .flexbox & {
      @include display(flex);
      @include box-pack(center);
      @include flex-flow(row wrap);
    }
  }

  // :)
  .best-station-controls > * + * {
    margin-left: 1em;
  }

  .best-station-controls .fa {
    margin-right: 0.25em;
  }

  .best-station-visit, .best-station-pledge, .best-station-listen {
    @extend .btn;
    font-size: 80%;
    padding-top: 1em;
    padding-bottom: 1em;

    .flexbox & {
      @include flex(1);
    }

    @include respond-to(small-screen) {
      .no-flexbox & {
        width: 100%;
        margin-left: 0;
        margin-bottom: 1em;
        display: block;
      }
    }
  }

  .best-station-listen {
    @extend .btn-red;
    margin-top: 1em;
    margin-left: 0;

    .flexbox & {
      @include flex(1 100%);
    }

    .no-flexbox & {
      margin-top: 0;
      margin-left: 1em;

      @include respond-to(small-screen) {
        margin-left: 0;
      }
    }
  }

  .radio-streamer-jplayer {
    @extend .hidden-content;
    img { display: none; }
  }
}
