@import 'bourbon/bourbon';

$wedgewood: #5377A6;
$steel-blue: #5E87BD;
$pickled-bluewood: #243344;
$matrix: #A65353;
$contessa: #BE6060;

@include keyframes(loading-throb) {
  0%   { @include transform(scale(1)); }
  50%   { @include transform(scale(1.5)); }
  100% { @include transform(scale(1)); }
}

@include keyframes(rotate) {
  0%  { @include transform(rotate(0deg)); }
  100% { @include transform(rotate(360deg)); }
}

* {
  @include box-sizing(border-box);
}

body {
  background: #2D4059;
  color: #F4F9FD;
  text-shadow: 0 1px rgba(0,0,0,0.5);
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  display: table;
  margin: 5em auto 0;
}

#{$all-text-inputs} {
  border-radius: 3px;
  border: none;
  background: #F4F9FD;
  font: inherit;
  padding: 1.5em;
  margin: 0;

  &::-moz-focus-inner {
    border: 0;
    margin: 0;
  }

  // remove increment/decrement buttons
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

button {
  @extend .btn;
  margin: 0;

  &::-moz-focus-inner {
    border: 0;
    margin: 0;
  }
}

.btn {
  @include transition(all 0.25s linear);
  border-radius: 3px;
  border: none;
  background-color: $wedgewood;
  color: #FFF;
  text-shadow: rgba(0,0,0,0.25);
  font: inherit;
  text-decoration: none;
  cursor: pointer;
  padding: 1.5em;

  &:hover, &:focus {
    background-color: $steel-blue;
  }
}

.btn-red {
  background-color: $matrix;

  &:hover, &:focus {
    background-color: $contessa;
  }
}

.addon-field {
  display: inline-block;

  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    float: left;
  }

  .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    float: left;
  }
}

.hidden-text {
  position: absolute;
  left: -9999em;
}

.page-header {
  font-size: 400%;
  font-weight: normal;
}

.spiel {
  font-size: 125%;
}

.search-by-zip-field {
  vertical-align: middle;
}

.search-by-geolocation {
  width: 15em;
  vertical-align: middle;
}

.best-station {
  border-radius: 3px;
  background: $pickled-bluewood;
  font-size: 125%;
  line-height: 1;
  padding: 1.5em;
  margin-top: 1em;

  .best-station-loading {
    margin: 2em 0;
    display: inline-block;
    position: relative;

    &:before {
      content: '';
      @include animation(loading-throb 1.25s ease-in infinite);
      border-radius: 100%;
      background: rgba(83, 119, 166, 0.25);
      text-shadow: none;
      padding: 1em;
      position: absolute;
      left: -0.15em;
      right: -0.15em;
      top: -0.15em;
      bottom: -0.15em;
    }
  }

  .best-station-loading-icon {
    @include animation(rotate 2s linear infinite);
    border-radius: 100%;
    background: rgba(83, 119, 166, 0.5);
    color: #FFF;
    text-shadow: none;
    padding: 0.75em;
  }

  .best-station-summary {
    margin-top: 0;
  }

  .best-station-label {
    font-size: 150%;
    font-weight: bold;
    margin-top: 0.375em;
    margin-bottom: 0.375em;
    display: block;
  }

  .best-station-controls {
    @include display(flex);
    @include flex-flow(row wrap);
  }

  // :)
  .best-station-controls > * + * {
    margin-left: 1em;
  }

  .best-station-controls .fa {
    margin-right: 0.25em;
  }

  .best-station-visit, .best-station-pledge, .best-station-listen {
    @extend .btn;
    font-size: 80%;
    padding-top: 1em;
    padding-bottom: 1em;
    @include flex(1);
  }

  .best-station-listen {
    @extend .btn-red;
    margin: 1em 0 0;
    @include flex(1 100%);
  }
}
